
@{
    ViewData["Title"] = "ContactUs";
}
<!-- HEADER -->
<header>
    <section class="container-fluid contact-background">
        <div class="container h-100">
            <div class="main-content d-flex flex-column justify-content-center align-items-center">
                <div class="heading">
                    <h1>Contact us</h1>
                </div>
            </div>
        </div>
    </section>
</header>

@*<section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>dr. Jelena Rusmirovic</h2>
                    <p>Military Technical Institute, Department for Materials and Protection, Belgrade, Serbia</p>
                    <a href="mailto:jrusmirovic@tmf.bg.ac.rs">Email:</a>
                    <a href="https://www.researchgate.net/profile/Jelena_Rusmirovic">Go to Jelenas profile</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>prof. dr. Vladimir Pavlovic</h2>
                    <p>University of Belgrade, Faculty of Agriculture, Chief of the Laboratory for Electronic Microscopy and member of the SASA</p>
                    <a href=" mailto:vladimirboskopavlovic@gmail.com/">Email:</a>
                    <a>http://www.agrif.bg.ac.rs/Fakultet/133/Osoba/252</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>prof. dr. Aleksandar Marinkovic</h2>
                    <p>University of Belgrade, Faculty of Technology and Metallurgy (TMF)</p>
                    <a href="mailto:marinko@tmf.bg.ac.rs/">Email milena</a>
                    <a>http://www.tmf.bg.ac.rs/en/fis/zaposlen/308#gsc.tab=0</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>dr. Nina Obradovic</h2>
                    <p>Institute of Technical Sciences of Institute of Technical Sciences of Serbian Academy of Science and Technology (SASA)</p>
                    <a href="mailto:nina.obradovic@itn.sanu.ac.rs">Email</a>
                    <a>http://www.itn.sanu.ac.rs/ninaobradovic.htm</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>prof. dr. Milica Rancic</h2>
                    <p>University of Belgrade, Faculty of Forestry</p>
                    <a href="mailto:milica.rancic@sfb.bg.ac.rs">Email</a>
                    <a>http://www.sfb.bg.ac.rs/milica-rancic/</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>dr. Tihomir Kovacevic</h2>
                    <p>Military Technical Institute, Department for Materials and Protection, Belgrade, Serbia </p>
                    <a href="mailto:tkovacevic@tmf.bg.ac.rs">Email:</a>
                    <a>https://www.researchgate.net/profile/Tihomir_Kovacevic</a>
                </div>
            </div>
        </div>
    </section>*@

<main>

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>dr. Jelena Rusmirovic</h2>
                    <p>Military Technical Institute, Department for Materials and Protection, Belgrade, Serbia</p>
                    <a href="mailto:jrusmirovic@tmf.bg.ac.rs">E-mail: jrusmirovic@tmf.bg.ac.rs</a>
                    <a href="#">https://www.researchgate.net/profile/Jelena_Rusmirovic</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>prof. dr. Vladimir Pavlovic</h2>
                    <p>University of Belgrade, Faculty of Agriculture, Chief of the Laboratory for Electronic Microscopy and member of the SASA</p>
                    <a>E-mail: vladimirboskopavlovic@gmail.com</a>
                    <a href="#">http://www.agrif.bg.ac.rs/Fakultet/133/Osoba/252</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>prof. dr. Aleksandar Marinkovic</h2>
                    <p>University of Belgrade, Faculty of Technology and Metallurgy (TMF)</p>
                    <a>E-mail: marinko@tmf.bg.ac.rs</a>
                    <a href="#">http://www.tmf.bg.ac.rs/en/fis/zaposlen/308#gsc.tab=0</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>dr. Nina Obradovic</h2>
                    <p>Institute of Technical Sciences of Institute of Technical Sciences of Serbian Academy of Science and Technology (SASA)</p>
                    <a>E-mail: nina.obradovic@itn.sanu.ac.rs</a>
                    <a href="#">http://www.itn.sanu.ac.rs/ninaobradovic.htm</a>
                </div>
            </div>
            <div class="row">
                <div class="col-5 mr-5 py-5 contact-card">
                    <h2>prof. dr. Milica Rancic</h2>
                    <p>University of Belgrade, Faculty of Forestry</p>
                    <a>E-mail: milica.rancic@sfb.bg.ac.rs</a>
                    <a href="#">http://www.sfb.bg.ac.rs/milica-rancic/</a>
                </div>
                <div class="col-5 ml-5 py-5 contact-card">
                    <h2>dr. Tihomir Kovacevic</h2>
                    <p>Military Technical Institute, Department for Materials and Protection, Belgrade, Serbia </p>
                    <a>E-mail: tkovacevic@tmf.bg.ac.rs</a>
                    <a href="#">https://www.researchgate.net/profile/Tihomir_Kovacevic</a>
                </div>
            </div>
        </div>
    </section>
</main>